body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
}
  
.header-left {
    flex: 1;
}
  
.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
#company-name {
    font-size: 24px;
    font-weight: bold;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
}
  
nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
.buttons {
    display: flex;
}

#login-button{
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    text-decoration: none;
    font-size: 14px;
}
main {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

fieldset{
    border-radius: 25px;
    padding: 30px;
    border-width: 7px;
    border-style: dashed;
}

h2{
    text-align: center;
    color: black;
}
main li {
    margin: 15px;
    text-align: left; 
}
.operation-group {
    text-align: left;
}

.operation-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.operation-group p {
    margin-right: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

.operation-group ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.operation-group li {
    margin-right: 15px;
}

.operation-group a {
    text-decoration: none;
}

.operation-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
}

.footer-left,
.footer-right {
    flex: 1;
    text-align: center;
}
  
.footer-center {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.footer-center > div {
    margin-bottom: 10px;
}
  
.social-icons img {
    margin-right: 5px;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
    }

    .header-right {
        justify-content: center; 
        margin-top: 20px; 
    }

    fieldset {
      margin: 10px; 
    }
  
    .rubrika-fotot {
      justify-content: center; 
    }
  
    .foto {
      width: calc(50% - 20px); 
    }

    .footer-left,
    .footer-right,
    .footer-center {
      flex: 100%; 
    }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
    }

    .header-right {
        justify-content: center; 
        margin-top: 20px; 
    }

    fieldset {
      margin: 10px; 
    }
  
    .rubrika-fotot {
      justify-content: center; 
    }
  
    .foto {
      width: calc(50% - 20px); 
    }

    .footer-left,
    .footer-right,
    .footer-center {
      flex: 100%; 
    }
}