body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
}
  
.header-left {
    flex: 1;
}
  
.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
#company-name {
    font-size: 24px;
    font-weight: bold;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
}
  
nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
.buttons {
    display: flex;
}

#login-button {
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    text-decoration: none;
    font-size: 14px;
}
