body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
}
  
.header-left {
    flex: 1;
}
  
.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
#company-name {
    font-size: 24px;
    font-weight: bold;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
}
  
nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
.buttons {
    display: flex;
}

#login-button{
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    text-decoration: none;
    font-size: 14px;
}
.fotoParaRubrikes {
    width: 100%;
    max-height: 30cm;
    overflow: hidden; 
}
  
.fotoParaRubrikes img {
    width: 100%;
    height: auto;
}
fieldset {
    border-color: blue;
    border-style: double;
    border-radius: 40px;
    padding: 20px;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rubrika-fotot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; 
    width: 100%; 
    max-width: 960px; 
    margin: 0 auto; 
  }
.foto {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    max-width: 300px; 
    max-height: 200px; 
    overflow: hidden;
    box-sizing: border-box;
}
  
.foto img {
    width: 100%;
    display: block; 
    border-radius: 30px;
    height: 100%; 
    object-fit: cover;
    box-shadow: 10 10 30px rgba(0, 0, 0, 0.13);
}
#legend{
    text-align: center;
    text-decoration: dotted;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 20px;
}

.footer-left,
.footer-right {
    flex: 1;
    text-align: center;
}
  
.footer-center {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.footer-center > div {
    margin-bottom: 10px;
}
  
.social-icons img {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
    }

    .header-right {
        justify-content: center; 
        margin-top: 20px; 
    }

    fieldset {
      margin: 10px; 
    }
  
    .rubrika-fotot {
      justify-content: center; 
    }
  
    .foto {
      width: calc(50% - 20px); 
    }

    .footer-left,
    .footer-right,
    .footer-center {
      flex: 100%; 
    }
}