body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

fieldset {
    border: 2px solid #007acc;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 700px;
    max-height: 1200px;
    border-style: dashed;
}

h1 {
    text-align: center;
    color: #007acc;
    margin-bottom: 40px; 
}

.container {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #007acc;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #007acc;
    border-radius: 15px;
}

.butoniSave {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.saveButton {
    background-color: #007acc;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: auto; 
    max-width: 200px; 
}

.saveButton:hover {
    background-color: #00588f;
}

@media (max-width: 768px) {
    fieldset {
        padding: 20px;
    }

    h1 {
        margin-bottom: 20px;
    }

    input {
        font-size: 14px;
    }

    .saveButton {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    fieldset {
        max-width: 90%;
    }
}